.wrapper {
    width: 285px;
    height: 410px;
    text-align: center;
    margin: 50px;
}
.board {
    width: 236px;
    height: 250px;
    border: 2px solid dimgrey;
    padding: 20px;
    margin-bottom: 30px;
}
.arrayDiv {
    color: pink;

}
.square {
    width: 35px;
    height: 35px;
    background-color: steelblue;
    margin: 2px;
    display: inline-block;
}
.square:active {
    background-color:transparent;
}
.square.showSecret {
    background-color:transparent;
}
